.back-link {
  margin-top: 10px;
  margin-bottom: 36px;
  text-align: center;
  text-decoration: none;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;
  color: #ffffff;
  background-color: #ff6b08;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.2);

  transition: background-color 250ms ease-in-out;
}

.back-link:hover {
  background-color: #b14b06;
  transition: background-color 250ms ease-in-out;
}

.wrapper {
  display: flex;
  margin-bottom: 50px;
}

.img-wrapper {
  max-width: 300px;
  max-height: 500px;
  margin-right: 50px;
}

.img {
  border-radius: 5px;
}

.text-wrapper {
  max-width: 475px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.title {
  color: #ff6b08;
  margin-bottom: 30px;
}

.text {
  color: #3f4143;
}

.sub-title {
  margin-bottom: 10px;
  margin-top: 30px;
  color: #3f4143;
}

.page-list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.page-link {
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  color: #3f4143;
  font-size: 18px;
}

.page-link:active {
  color: #ff6b08;
}